body {
	margin: 20px;
}
h1 {
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	letter-spacing: -2px;
	color:#14151d;
	margin:15px, 0px;
}
p {
	margin: 5px;
	color:#666;
	font-size:16px;
}

input:invalid {
	border: 2px dashed red;
}

input:valid {
	border: 1px solid blue;
}

th {
	font-size: 14px;
	text-align: 1left;
	padding: 5px 20px;
	margin: 0px;
	border-bottom: 1px solid gray;
}

td {
	font-size: 14px;
	font-weight: plain;
	text-align: left;
	padding: 5px 20px;
	margin: 0px;
	border-bottom: 1px solid gray;
}